version: "3"
services:
  app:
    build:
      context: .
      dockerfile: ./environment/develop/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./lmsc/nuxt-app:/app:delegated
      - /app/node_modules
    command: yarn dev
    environment:
      - NODE_ENV=development
